.layout-default {
  overflow: hidden;
  max-width: 1400px;
  height: 100%;
  display: grid;
  grid-template-areas:
  'header header'
  'sidebar main';
  grid-template-columns: #{$sidebar-width} 1fr;
  grid-template-rows: #{$header-height} 1fr;

  &__header {
    grid-area: header;
    padding: 0 16px;
    border-bottom: $border-solid;
  }

  &__sidebar {
    grid-area: sidebar;
  }

  &__main {
    grid-area: main;
    overflow: hidden;
  }

  &__section {
    @include parent-size;
    padding: 16px;
    overflow-y: scroll;
  }
}
