.cursor-pointer {
  cursor: pointer;
}

.default-box-shadow {
  box-shadow: $bs;
}

.tr-primary {
  transition: $tr-primary;
}

.br-primary {
  border-radius: $br-primary;
}

.br-secondary {
  border-radius: $br-secondary;
}

.border-solid {
  border: $border-solid;
}